body {
    display: flex;
    justify-content: center;
}

.alegreya-sans sc-bold {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  

#calculator {
 background-color: #7f9eb2;
 border-radius: 15px;
 border: #274C5e solid 5px;;
 width: 450px;
 height: 600px;
 padding: 40px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
}

#screen {
    background-color: #77919d;
    width: 450px;
    height: 80px;
    border-radius: 15px;
}

#button_container{
    display: flex;
    width: 450px;
    flex-wrap: wrap;
    justify-content: center;
}

.button {
    background-color: #dae9f4;
    width: 30px;
    padding: 20px 30px;
    margin: 5px;
    font-size: 35px;
    text-align: center;
    color: #274C5e;
    border-radius: 15px;
    flex: auto;
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 700;
    
}
