body {
    display: flex;
    justify-content: center;
}

.kufam {
  font-family: "Kufam", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

#calculator {
 background-color: #7f9eb2;
 border-radius: 15px;
 border: #274C5e solid 5px;;
 width: 450px;
 height: 600px;
 padding: 40px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
}

#screen {
    background-color: #77919d;
    display:flex;
    justify-content: end;
    align-items: center;
    padding-right: 20px;
    width: 430px;
    height: 90px;
    border-radius: 15px;
    font-family: "Kufam", sans-serif;
    font-size: 38px;
    color:#274C5e;
}

#button_container{
    display: flex;
    width: 450px;
    flex-wrap: wrap;
    justify-content: center;
}

.button {
    background-color: #dae9f4;
    width: 30px;
    padding: 20px 30px;
    margin: 5px;
    font-size: 32px;
    text-align: center;
    color: #274C5e;
    border-radius: 15px;
    flex: auto;
    font-family: "Kufam", sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

div#\30 {
    flex: 4;
}

.button.opt {
    background-color: #b4d1e6;
}

.backCo{
    background-color: #386d87;
    color:#dae9f4;
    display: flex;
    justify-content: center;
    align-items: center;
}



